<div class="container-fluid">
  <div class="row">
  <div class="col-12 col-sm-6">
    <img class="logo" src="../../assets/images/errorImage.png" alt="404 error">
  </div>
  <div class="col-12 col-sm-6 text">
    <h1 id="oops">
     Oops! Error 404
    </h1>
    <h3 id="sorry">
     We're Sorry.
    </h3>
    <h5 id="not-found">
      The Page you are looking for can't be found.
    </h5>
      <button type="button" class="btn btn-primary btn-buy" (click)="home()"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Continue Shopping</button>
  </div>    
</div>
</div>
