<footer class="footer">
    <div class="icons">
        <h6>
            <i class="fa fa-copyright" aria-hidden="true"></i> Mobile Zone</h6>
        <div class="icon-tag">
            <a href="www.facebook.com">
                <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
            </a>
            <a href="www.facebook.com">
                <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
            </a>
            <a href="#">
                <i class="fa fa-whatsapp fa-lg" aria-hidden="true"></i>
            </a>

        </div>
    </div>
</footer>