<div class="container">
  <h5 class="head">Dear {{user.first_name}} you have placed order for</h5>
  <div class="custom"*ngIf="product.length==0">
    <h4>You Haven't Placed order for any Mobile Set</h4>
    <button class="btn btn-primary btn-buy" (click)="shop()">Shop Now</button>
  </div>
  <div class="row" *ngFor="let x of product">
    <div class="col-4 col-sm-4 col-md-3">
      <img class="myImage" [src]="product.image" alt="mobile set">
    </div>
    <div class="col-8 col-sm-8 col-md-9">
      <h5>{{product.company}} {{product.model_name}}</h5>
      <h6>Price Rs. {{product.price}}</h6>
      <h6>{{product.ram}} GB/ {{product.rom}} GB</h6>
    </div>
  </div>
</div>