<h4>Enter the Details of Product you want to Add</h4>
<form [formGroup]="addProductForm" (ngSubmit)="onAdd()">
  <div class="form-group">
    <label for="modelName">Model Name</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="modelName" placeholder="Enter Model Name" formControlName="modelName">
  </div>
  <div class="form-group">
    <label for="companyName">Company</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="companyName" placeholder="Enter the company Name"
      formControlName="companyName">
  </div>
  <div class="form-group">
    <label for="image">Image Link</label>
    <input type="text" [ngClass]="{submit:submitted}" class="form-control" id="image" placeholder="Enter the image address" formControlName="image">
  </div>
  <div class="form-group">
    <label for="screenSize">Screen Size(inches)</label>
    <input type="number" step="0.01" class="form-control" [ngClass]="{submit:submitted}" id="screenSize" placeholder="Screen Size"
      formControlName="screenSize">
  </div>
  <div class="form-group">
    <label for="ram">RAM Size(GB)</label>
    <input type="number" class="form-control" [ngClass]="{submit:submitted}" id="ramSize" placeholder="Ram Size" formControlName="ram">
  </div>
  <div class="form-group">
    <label for="rom">ROM Size(GB)</label>
    <input type="number" class="form-control" [ngClass]="{submit:submitted}" id="romSize" placeholder="Rom Size" formControlName="rom">
  </div>
  <div class="form-group">
    <label for="expandableMemory">Expandable Memory(GB)</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="inputAddress" placeholder="Memory Size" formControlName="expandableMemory">
  </div>
  <div class="form-group">
    <label for="frontCamera">Front Camera Pixels</label>
    <input type="number" class="form-control" [ngClass]="{submit:submitted}" id="frontCamera" placeholder="Camera Pixels" formControlName="frontCamera">
  </div>
  <div class="form-group">
    <label for="backCamera">Back Camera Pixels</label>
    <input type="number" class="form-control" [ngClass]="{submit:submitted}" id="backCamera" placeholder="Camera Pixels" formControlName="backCamera">
  </div>

  <div class="form-group">
    <label for="operatingSystem" class="head">Operating System</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="operatingSystem" placeholder="Enter Operating System" formControlName="operatingSystem">
  </div>

  <div class="form-group">
    <label for="batterySize">Battery Size</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="battery" placeholder="Battery" formControlName="battery">
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="batteryType">Removable Battery</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [ngClass]="{submit:submitted}" type="radio" id="batterytrue" value="true" formControlName="batteryType"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [ngClass]="{submit:submitted}" type="radio" id="batteryfalse" value="false" formControlName="batteryType">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>
  <label for="connectivity" class="head">Connectivity</label>
  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="2G">2G Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" [ngClass]="{submit:submitted}" type="radio" id="2Gtrue" value="true" formControlName="twoG"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [ngClass]="{submit:submitted}" type="radio" id="2Gfalse" value="false" formControlName="twoG">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="3G">3G Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="3Gtrue" value="true" formControlName="threeG"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="3Gfalse" value="false" formControlName="threeG">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="4G">4G Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="4Gtrue" value="true" formControlName="fourG"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="4Gfalse" value="false" formControlName="fourG">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="wifi">Wifi Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="wifitrue" value="true" formControlName="wifi"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="wififalse" value="false" formControlName="wifi">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="usb">USB Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="usbtrue" value="true" formControlName="usb"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="usbfalse" value="false" formControlName="usb">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <label for="Multimedia" class="head">Multimedia</label>
  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="music">Music Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="musictrue" value="true" formControlName="music"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="musicfalse" value="false" formControlName="music">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="video">Video Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="videotrue" value="true" formControlName="video"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="videofalse" value="false" formControlName="video">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="fm">FM Radio Available</label>
      </div>
      <div class="col-6">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="fmtrue" value="true" formControlName="fm"
            checked>
          <label class="form-check-label" for="yes">Yes</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" [ngClass]="{submit:submitted}" id="fmfalse" value="false" formControlName="fm">
          <label class="form-check-label" for="no">No</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="stock" class="head">Number of pieces</label>
    <input type="number" min="1" class="form-control" [ngClass]="{submit:submitted}" id="stock" placeholder="Enter Amount of piece"
      formControlName="stock">
  </div>
  <div class="form-group">
    <label for="color" class="head">Color</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="color" placeholder="Enter Color Name" formControlName="color">
  </div>
  <div class="form-group">
    <label for="price" class="head">Amount</label>
    <input type="number" min="1" step="500" [ngClass]="{submit:submitted}" class="form-control" id="price" placeholder="Enter Amount"
      formControlName="price">
  </div>
  <div class="form-group">
    <div class="form-row">
      <div class="col-6">
        <label for="simType" class="head">Number of Sim</label>
      </div>
      <div class="col-6">
        <select id="simType" class="form-control" [ngClass]="{submit:submitted}" id="simType" formControlName="simType">
          <option value="Single" selected>Single</option>
          <option value="Dual" >Dual</option>
          <option value="Multi">Multi</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="warranty" class="head">Warranty</label>
    <input type="text" class="form-control" [ngClass]="{submit:submitted}" id="warranty" placeholder="Enter Warranty" formControlName="warranty">
  </div>
  <div class="form-group">
    <label for="Description" class="head">Extra Description</label>
    <textarea class="form-control" id="description" rows="3" placeholder="(Optional)" formControlName="description"></textarea>
  </div>
  <div class="form-row">
    <div class="col-6">
      <button type="submit" class="btn logbutton">Add Product</button>
    </div>
    <div class="col-6">
      <button type="reset" class="btn logbutton">Reset Entered Details</button>
    </div>
  </div>
</form>