<div class="container-fluid">
  <div class="top-part">
    <div class="row">
      <div class="image-column col-12 col-sm-5 col-md-4">
        <img class="img-fluid" src="../../assets/images/mobile1.jpg" alt="Card image cap">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6">
            <button class="btn btn-buy">Buy Now</button>
          </div>
          <div class="col-12 col-sm-12 col-md-6">
            <button class="btn btn-buy">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-7 col-md-8 detail-column">
        <h4>
          Modal Name
        </h4>
        <h5>
          Price
          <br>
          <small>Including Taxes</small>
        </h5>
        <h6 class="heading">HighLights</h6>
        <ul>
          <li>Screen Size : 11.93 cm (4.7)"</li>
          <li>Camera: 12 MP Rear/7 MP Front</li>
          <li>RAM/ROM : 2 GB/32 GB</li>
          <li>Operating System : 2 GB/32 GB</li>
          <li>Sim Type: Single Sim</li>
          <li>10 Days Replacement Policy</li>
          <li>Warranty : 2 years</li>
          <li>In case of EMI payments, Cashback will be credited post return period.</li>
        </ul>
        <h6 class="heading">Seller</h6>
        <h6>MobileZone</h6>
        <h6 class="heading">Description</h6>
        <h6>description of given product</h6>
        <h6 class="heading">Service</h6>
        <h6>Cash on Delievery</h6>
      </div>
    </div>
  </div>
  <app-product-detail2></app-product-detail2>
</div>