h6{
    font-weight: normal;
}
.container-fluid
{
    background-color: #343a40;
    padding-bottom: 10px;
}
.image-column
{
    text-align: center;
}
.detail-column
{
padding: 15px;
}
.btn-buy
{
    width:90%;
    text-align: center;
    background-color: orange;
    color: white;
    border-radius:2px;
    margin: 5px auto;
}
.top-part
{
    margin-bottom: 5px;
    background-color: #fff;
}
.heading
{
    color: gray;
    font-weight: 500;
}