<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" routerlink="/">
    <img src="../../../assets/images/LogoMobile.png" width="30" height="30" alt="logo">
  </a>
  <a class="navbar-brand" href="#">Mobile Zone</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
      <!-- <li class="nav-item dropdown">
        <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          style="cursor: pointer;">
          Categories
        </span>
        <div class="dropdown-menu scroll" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngFor="let x of category_head">
            <strong>{{x}}</strong>
          </a>
        </div>
      </li> -->
    </ul>
    <!-- <span class="navbar-text"> -->
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!userService.loggedIn()">
        <a class="nav-anchor" data-toggle="modal" data-focus="true" data-keyboard="true" data-target="#LoginSignupModal">
          <i class="fa fa-lg fa-smile-o" aria-hidden="true"></i>Login/Signup</a>
      </li>
      <li routerLinkActive="active" *ngIf="userService.loggedIn() && userService.isAdmin()">
          <a class="nav-anchor" routerLink="/admin"> <i class="fa fa-columns" aria-hidden="true"></i>Admin Dashboard </a>
        </li>
      <li routerLinkActive="active" *ngIf="userService.loggedIn() && !userService.isAdmin()">
        <a class="nav-anchor" routerLink="/profile"> <i class="fa fa-user" aria-hidden="true"></i>Profile </a>
      </li>
      <li routerLinkActive="active" *ngIf="userService.loggedIn() && !userService.isAdmin()">
        <a class="nav-anchor" routerLink="/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart </a>
      </li>
      <li routerLinkActive="active" *ngIf="userService.loggedIn() && !userService.isAdmin()">
          <a class="nav-anchor" routerLink="/order">
            <i class="fa fa-book" aria-hidden="true"></i>My Orders</a>
        </li>
      <li *ngIf="userService.loggedIn()">
        <a role="button" (click)="onLogout()" routerLink="/" class="nav-anchor">
          <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
      </li>
    </ul>

    <!-- </span> -->
  </div>
</nav>
<app-login-signup></app-login-signup>