<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <a data-toggle="tooltip" data-placement="up" title="Enter the email address you used at the time of sign up.">
      <i class="fa fa-info-circle" aria-hidden="true" id="infocircle"></i>
  </a>
  <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelp" placeholder="Enter email">
  <label for="loginPassword" id="passwordLabel">Password</label>
  <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
    <button type="submit" class="btn logbutton">
      <i class="fa fa-lock" aria-hidden="true"></i>Log In Securely</button>
</div>