.nav{
    width: 100%;
}
.modal-dialog {
    max-height: 540px;
    overflow: auto;
}
.close
{
    color: #ccc;
}
.modal-content
{
    background-color: #343a40;
    color:#ccc;
}
a{
    color:rgba(0, 0, 0, 0.9);
}
.nav-link.active
{
    background-color: #343a40;
    color: white;
    border-color:#343a40 #343a40 #ccc;
    border-bottom-width: 4px; 
}
.nav-link
{
    background-color: #343a40;
    color: rgba(255,255,255,0.5);
}
.nav-tabs
{
    border: none;
}