<div class="container-fluid">
  <div class="gallery-view">
    <span class="image-title">Simple & Fast.
      <br>Mobile Zone is Here!</span>
    <img src="../../assets/images/about.jpg" class="img-fluid" alt="Responsive image">
  </div>
  <div class="container">
    <h4 id="heading">About Mobile Zone
    </h4>
    <h5 id="content">
      <em>Mobile Zone is an online website which have different services for customer and merchants.
        We offer a platform to all customers to buy a product of there choice,It provide Access to over 700 products and allow consumers to make seamless 
        decision of the mobile handset they want to buy.The company aim to bring Common platform where all type of products are available under one roof
        and at best price. This website is controlled by a wholesale mobile selling company who want to sell its products
        all over India.We strive to maintain an open culture where everyone is a hands-on contributor and feels comfortable sharing ideas
        and opinions. Our team spends hours, designing each new feature and obsesses about the smallest of details.</em>
    </h5>
  </div>
</div>