a{
    text-decoration: none;
    color: black;
}
.container
{
    margin-top: 10px;
    margin-bottom: 10px; 
}
.card{
    width: 100%;
    border-radius: 0;
    border:none;
}
.card:hover{
    border:1px solid rgba(0,0,0,.125);
    box-shadow: 1px 1px 1px 1px #ccc; 
}
.card-img-top
{
    width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.card-title
  {
        line-height: 2;
        width : 100%;
        overflow:hidden;
        /* display:inline-block; */
        text-overflow: ellipsis;
        white-space: nowrap;
  }
  .column
  {
      padding:0;
  }
  #top-heading
  {
      margin-left: -15px;
      margin-bottom: 20px;
      color: rgb(102, 99, 99);
  }
  .card-layout{
    text-align: center;
    min-height: 170px;
    position: relative;
    padding-bottom: 100%;
  }